---
---

@charset "UTF-8";


body {
  font-family: monospace;
  font-size: 12px;
}

.page {
  width: 720px;
  text-align: justify;
  margin: 50px auto;
}

@media only screen and (max-width:700px)  {
  .page {
    width: 100%;
  }
}

footer {
  text-align: center;
  margin-top: 24px;
  font-size: 8px;
  color: #666;
}

.img_series {
  display: flex;
  justify-content: space-between;
}

.img_series_img {
   width: 95%;
}

.fullwidth {
  width: 100%;
  border: 1px solid #000;
}

.fullwidth-no-border {
  width: 100%;
}

nav {
  float: right;
}

.cover-title {
  position: relative;
  margin-top: 16px;
}

.cover-title img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.cover-title .title {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 20px;
}

.cover-title a {
  text-decoration: none;
}

.cover-title:hover .title {
  background-color: rgba(0, 0, 0, 1.0);
}

.cover-title:hover img {
  opacity: 0.8;
}

.subtitle {
  font-size: 12px;
  display: block;
}


.sitename {
  color: #999;
  font-size: 20px;
}