---
---

@charset "UTF-8";

@import "code.css";

body {
  font-family: monospace;
  font-size: 16px;
}

.page {
  width: 720px;
  text-align: justify;
  margin: 20px auto;
}

@media only screen and (max-width:700px)  {
  .page {
    width: 100%;
  }
}

footer {
  text-align: center;
  margin-top: 24px;
  font-size: 8px;
  color: #666;
}

.img_series {
  display: flex;
  justify-content: space-between;
}

.img_series_img {
   width: 95%;
}

.medimage {
  width: 50%;
  border: 1px solid #000;
}

.floatmedimage {
  width: 50%;
  border: 1px solid #000;
  float: right;
  margin: 24px;
}

.floatmedimage-no-border {
  width: 50%;
  float: right;
  margin: 24px;
}

.fullwidth {
  width: 100%;
  border: 1px solid #000;
}

.fullwidth-no-border {
  width: 100%;
}

nav {
  margin-bottom: 50px;
}

nav a {
  text-decoration: none;
  padding: 2px;
  color: #666;
}
nav a:visited {
  color: inherit;
  text-decoration: inherit;
  color: #666;
}
nav a:hover {
  background-color: #333;
  color: #FFF;
}


.cover-title {
  position: relative;
  margin-top: 16px;
}

.cover-title img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.portfolio-entry {
  width: 480px;
}

.cover-title .title {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 20px;
}

.cover-title .portfolio-title {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: left;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
}
.cover-title:hover .portfolio-title {
  background-color: rgba(0, 0, 0, 1.0);
}


#portfolio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  align-items: center;
}



@media only screen and (max-width:720px)  {
  #portfolio {
    width: 360px;
    grid-template-columns: 1fr;
    margin: 20px auto;
  }
}

.event-details {
  font-style: italic;
  color: #555;
  font-size: 14px;
  padding-bottom: 5px;
}

.portfolio {
  width: 360px;
  display: block;
  background-color: #000;
}

.portfolio-subtitle {
  padding-top: 4px;
  font-size: 10px;
  display: block;
  color: #CCCCCC;
}

.cover-title a {
  text-decoration: none;
}

.cover-title:hover .title {
  background-color: rgba(0, 0, 0, 1.0);
}

.cover-title:hover img {
  opacity: 0.8;
}

.subtitle {
  font-size: 12px;
  display: block;
  color: #CCCCCC;
}


.sitename {
  color: #999;
  font-size: 12px;
}


small {
  color: #666;
}




.little-event {
  display: block;
  // background-color: #000;
}


#events {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
}

.event {
  display: block;
  background-color: #000;
}

.event-subtitle {
  color: #666;
}

.event-title {
  position: relative;
}

.event-title img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.little-event-title img {
  // width: 100%;
  height: auto;
  object-fit: cover;
}

.event-title .title {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
}

.little-event-title .title {
  // background-color: rgba(0, 0, 0, 0.8);
  color: black;
  // text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
}

.little-event-kind {
  font-size: 13px;
  color: gray;
  position: relative;
}

.event-title a {
  text-decoration: none;
}

.little-event-title a {
  text-decoration: none;
}

.event-title:hover .title {
  background-color: rgba(0, 0, 0, 1.0);
}

.event-title:hover img {
  opacity: 0.8;
}


